<header class="masthead">
    <a class="masthead__link breathe--large" href="#">
        <i class="fa fa-bars"></i>
    </a>

    <h1 class="masthead__title ms3">Gratitude Journal</h1>

    <a class="masthead__link breathe--large" href="#">
        <i class="fa fa-th"></i>
    </a>
</header>

{{outlet "sidebar"}}

{{outlet "main"}}

