<div class="overlay">
    <a class="overlay__close-btn" href="#" {{action "closeModal" target="view"}}></a>
    <div class="modal breathe">
        <h1 class="ms3">Calendar View</h1>
    </div>
</div>
