<div class="overlay">
    <a class="overlay__close-btn" href="#" {{action "closeModal" target="view"}}></a>
    <div class="modal breathe calendar">
        <h1 class="ms4 underline--dashed">Statistics for {{month}}</h1>

        <div class="group">
            {{#each days}}
            <div class="hex"></div>
            {{/each}}
        </div>
    </div>
</div>
