<div class="flex">
    <div class="flex__item page">
        <h2 class="ms2 page__title">13 September 2014</h2>

        <div class="page__entries">
            <div class="page__entries__item group space--large">
                <p class="pull-left ms4 page__entries__item__text">Grateful for being able to enjoy sights and sounds.</p>

                <span class="pull-right ms5 page__entries__item__hint">Double click to edit</span>
            </div>

            <div class="page__entries__item group space--large">
                <p class="pull-left ms4 page__entries__item__text">Thankful for home cooked food.</p>

                <span class="pull-right ms5 page__entries__item__hint">Double click to edit</span>
            </div>

            <div class="page__entries__item group space--large">
                <p class="pull-left ms4 page__entries__item__text">...</p>

                <span class="pull-right ms5 page__entries__item__hint">Double click to edit</span>
            </div>
        </div>

        <div class="new-entry">
            <input class="new-entry__input" type="text" placeholder="Enter a new entry">
        </div>
    </div>
</div>
