<h2 class="ms4 sidepanel__title">Welcome back</h2>

<ul class="list space months">
    {{#each months}}
    <li class="months__item uppercase">
        {{#if selectable}}
        <a class="months__item__text" href="#">{{name}}</a>
        {{else}}
        <span class="months__item__text">{{name}}</span>
        {{/if}}
    </li>
    {{/each}}
</ul>
