<div class="overlay">
    <a class="overlay__close-btn" href="#" {{action "closeModal" target="view"}}></a>
    <div class="modal breathe calendar">
        <h1 class="ms4 underline--dashed">Statistics for {{month}}</h1>

        <div class="flex stats underline--dashed">
            <div class="flex__item stats__entries">
                <h2 class="ms5 uppercase center--text">Entries</h2>

                <p class="ms3 center--text space--nothing">23</p>
            </div>

            <div class="flex__item">
                <h2 class="ms5 uppercase center--text">Streak</h2>

                <p class="ms3 center--text space--nothing">7</p>
            </div>
        </div>

        <div class="stats__summary group">
            {{#each days}}
            <div class="stats__entry pull-left">
                <div class="square"></div>
                <div class="stats__tooltip"></div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
