<div class="flex">
    <div class="flex__item page">
        <h2 class="ms2 page__title">13 September 2014</h2>

        <div class="page__entries">
            {{#each itemController="entry"}}
            <div class="page__entries__item group space--large">
                <p class="pull-left ms4 page__entries__item__text">{{text}}</p>

                <div class="pull-right page__entries__item__hint">
                    <a href="#" {{action "deleteEntry" this}}><i class="fa fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="new-entry">
            {{input type="text" class="new-entry__input" placeholder="Enter a new entry"
                value=newEntry action="createEntry"}}
        </div>
    </div>
</div>
