<div class="flex">
    <div class="flex__item page">
        <h2 class="ms2 page__title">13 September 2014</h2>

        <div class="page__entries">
            {{#each}}
            <div class="page__entries__item group space--large">
                <p class="pull-left ms4 page__entries__item__text">{{text}}</p>

                <span class="pull-right ms5 page__entries__item__hint">Double click to edit</span>
            </div>
            {{/each}}
        </div>

        <div class="new-entry">
            {{input type="text" class="new-entry__input" placeholder="Enter a new entry"
                value=newEntry action="createEntry"}}
        </div>
    </div>
</div>
