/* General
 ============================== */

html, body {
    height: 100%;
}

body .ember-view:first-of-type {
    height: 100%;
}

.container {
    height: 100%;
    left: 0;
    position: relative;
    width: 100%;
    -webkit-transition: left .2s ease-in-out;
       -moz-transition: left .2s ease-in-out;
            transition: left .2s ease-in-out;
}

.container.slide {
    left: 220px;
}


/* Sidepanel
 ============================== */

.sidepanel {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: -220px;
    position: absolute;
    width: 220px;
}

.months {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.months__item {
    flex: 1;
    font-size: 12px;
}

.months__item a {
    display: block;
    color: #444;
    padding: 15px 5px;
}

.months__item a:hover {
    background-color: #eee;
}


/* Main
 ============================== */

.masthead {
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    display: flex;
}

.masthead__title {
    flex: 0 1 100%;
    text-align: center;
}

.masthead__link {
    color: #444;
}

.masthead__link:hover {
    color: #666;
}


/* Calendar
 ============================== */

.calendar {
    height: 170px;
    padding: 15px 9px;
    width: 500px;
}

.stats {
    padding: 15px 0;
}

.stats__summary {
    margin-top: 10px;
}

.square {
    background-color: #ddd;
    height: 15px;
    margin-right: 1px;
    margin-top: 1px;
    width: 15px
}

.stats__entry {
    position: relative;
}

.stats__entry .square:hover {
    cursor: pointer;
}

.stats__entries {
    border-right: 1px dashed #ddd;
}

.stats__tooltip {
    background-color: #444;
    border-radius: 4px;
    color: #eee;
    font-size: 13px;
    left: -43px;
    min-height: 30px;
    padding: 5px;
    position: absolute;
    opacity: 0;
    text-align: center;
    top: -34px;
    width: 100px;
}

.square:hover + .stats__tooltip {
    opacity: 1;
    top: -38px;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.stats__tooltip:after {
    content: "";
    border-top: 5px solid #444;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    left: 45px;
    position: absolute;
    top: 30px;
    width: 0;
}


/* Journal
 ============================== */

.page {
    padding: 30px 40px;
}

.page__title {
    border-bottom: 10px solid #f7f7f7;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding-bottom: 5px;
}

.page__entries {
    padding-left: 20px;
}

.page__entries__item {
    color: #777;
}

.page__entries__item__text {
    font-size: 18px;
    font-weight: 200;
}

.page__entries__item__hint {
    color: #aaa;
    display: none;
    margin-top: 15px;
}

.page__entries__item:hover .page__entries__item__hint {
    display: block;
}

.new-entry {
    border-top: 1px dashed #ddd;
    padding-top: 10px;
}

.new-entry__input {
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid #eee;
    display: block;
    font-size: 18px;
    font-weight: 200;
    min-height: 30px;
    padding: 5px 5px 10px;
    width: 100%;
}

.new-entry__input:focus {
    outline: 0;
}
